@import "../bower_components/bootstrap/less/bootstrap.less";
@import "_variables.less";

.navbar{
	box-shadow: 0px 5px 2.5px #888888;
}

.article-card{
	box-shadow: 5px 5px 2.5px #888888;
}

.jumbotron{
	box-shadow: 5px 5px 2.5px #888888;
}

.btn{
	box-shadow: 2px 2px .5px #888888;
    transition: box-shadow .25s;
}

.btn:hover{
	box-shadow: 5px 5px 2.5px #888888;
}