<form ng-submit="$close(model.player)">
    <div class="modal-header">
        <h3 class="modal-title">Edit Projections</h3>
    </div>
    <div class="modal-body form-group">
        <div ng-repeat="rule in model.rules">
            <label class="control-label">{{model.getFieldDisplay(rule.field)}}</label>
            <input type="text" class="form-control" ng-model="model.player[rule.field]" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Ok</button>
        <button class="btn btn-danger" ng-click="$dismiss()">Cancel</button>
    </div>
</form>