<form ng-submit="$close(model.rule)">
    <div class="modal-header">
        <h3 class="modal-title">{{model.title}}</h3>
    </div>
    <div class="modal-body form-group">
        <label class="control-label">Position</label>
        <select class="form-control" ng-model="model.rule.position" ng-options="position.position as position.positionDisplay for position in model.positionFieldOption" required></select>
        <label class="control-label">Stat this rule will apply to</label>
        <select class="form-control" ng-model="model.rule.field" ng-options="stat.field as stat.fieldDisplay for stat in model.scoringFieldOption" required></select>
        <label class="control-label">Points Awarded</label>
        <input type="text" ng-model="model.rule.pointsFor" class="form-control" placeholder="Points..." required>
        <label class="control-label">Required amount per</label>
        <input type="text" ng-model="model.rule.requiredPer" class="form-control" placeholder="Points..." required>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Ok</button>
        <button class="btn btn-danger" ng-click="$dismiss()">Cancel</button>
    </div>
</form>