<div class="panel panel-default">
	<div class="panel-heading">
		Roster Settings
	</div>
	<div class="panel-body">
		<div class="form-group">
			<div class="col-md-4 col-sm-12">
				<label>Number of Teams</label>
				<input class="form-control" type="number" ng-model="roster.numberTeams" />
				<label>Starting Running Backs</label>
				<input class="form-control" type="number" ng-model="roster.roster.quarterbacks" />
				<label>Starting WR/RB Flex</label>
				<input class="form-control" type="number" ng-model="roster.roster.wrrbflex" />
				<label>Starting Kickers</label>
				<input class="form-control" type="number" ng-model="roster.roster.kickers" />
			</div>
			<div class="col-md-4 col-sm-12">
				<label>Roster Size</label>
				<input class="form-control" type="number" ng-model="roster.rosterSize" />
				<label>Starting Wide Receivers</label>
				<input class="form-control" type="number" ng-model="roster.roster.widereceivers" />
				<label>Starting WR/RB/TE Flex</label>
				<input class="form-control" type="number" ng-model="roster.roster.wrrbteflex" />
				<label>Starting Defense/Special Teams</label>
				<input class="form-control" type="number" ng-model="roster.roster.dst" />
			</div>
			<div class="col-md-4 col-sm-12">
				<label>Starting Quarter Backs</label>
				<input class="form-control" type="number" ng-model="roster.roster.runningbacks" />
				<label>Starting Tight Ends</label>
				<input class="form-control" type="number" ng-model="roster.roster.tightends" />
				<label>Starting QB/WR/RB/TE Flex</label>
				<input class="form-control" type="number" ng-model="roster.roster.qbwrrbteflex" />
			</div>
		</div>
	</div>
</div>